<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.user.dao.TurnServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.user.model.db.TurnServer">
        <id column="id" property="id" />
        <result column="server_name" property="serverName" />
        <result column="domain" property="domain" />
        <result column="public_ip" property="publicIp" />
        <result column="public_port" property="publicPort" />
        <result column="stun_url" property="stunUrl" />
        <result column="turn_tcp_url" property="turnTcpUrl" />
        <result column="turn_udp_url" property="turnUdpUrl" />
        <result column="user_name" property="userName" />
        <result column="credential" property="credential" />
        <result column="internal_ip" property="internalIp" />
        <result column="valid" property="valid" />
    </resultMap>
    <select id="getByClusterId" resultMap="BaseResultMap">
        SELECT ts.* FROM turn_server ts,cluster_turn  ct  WHERE ct.turn_server=ts.id  and ct.cluster_id=#{id} and ts.valid= 1 and ct.valid=1
    </select>
</mapper>
