<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.admin.dao.AppPictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.admin.model.db.AppPicture">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="picture_url" property="pictureUrl" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
