<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.admin.dao.NetBarInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.admin.model.db.NetBarInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="location" property="location" />
        <result column="logo_pic" property="logoPic" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="special_service" property="specialService" />
        <result column="base_station" property="baseStation" />
        <result column="business_hours" property="businessHours" />
        <result column="match_station" property="matchStation" />
        <result column="valid" property="valid" />
		<result column="identification" property="identification" />
    </resultMap>
    <resultMap id="NetbarInfoVO" type="com.ydw.admin.model.vo.NetbarInfoVO"></resultMap>
    <resultMap id="NetbarListVO" type="com.ydw.admin.model.vo.NetbarListVO"></resultMap>
    <resultMap id="BaseInfo" type="com.ydw.admin.model.vo.BaseInfo"></resultMap>
    <resultMap id="CountVO" type="com.ydw.admin.model.vo.CountVO"></resultMap>

	<select id="getNetBarList" resultMap="NetbarInfoVO">
		SELECT DISTINCT
		nbi.*
		FROM
		net_bar_info nbi
		WHERE
		nbi.valid =true
		<if test="identification != null">
			and nbi.identification =#{identification}
		</if>
		<if test="province != null">
			and nbi.province=#{province}
		</if>
		<if test="city != null">
			and nbi.city=#{city}
		</if>
		<if test="district != null">
			and nbi.district=#{district}
		</if>
		<if test="name != null">
			and nbi.name  LIKE CONCAT('%', #{name}, '%')
		</if>
	</select>

    <select id="getAllNetBarList" resultMap="NetbarListVO">
	SELECT
	*
FROM
	(
	SELECT
		nbi.*,

		cn.cluster_id
	FROM
		net_bar_info nbi

		LEFT JOIN cluster_netbar cn ON cn.netbar_id = nbi.id

	) A
WHERE
	A.valid =1

    </select>

    <select id="getBaseStation" resultMap="BaseInfo">
        SELECT*FROM netbar_baseStation WHERE valid =1
    </select>
    <select id="getMatchStation" resultMap="BaseInfo">
		SELECT*FROM netbar_matchStation WHERE valid =1
    </select>
</mapper>
