<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.open.dao.TbDeviceUsedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.open.model.db.TbDeviceUsed">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="app_id" property="appId" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="custom_id" property="customId" />
        <result column="from_ip" property="fromIp" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="total_time" property="totalTime" />
        <result column="valid" property="valid" />
    </resultMap>
    <resultMap id="VoResultMap" type="com.ydw.open.model.vo.DeviceUsedVO">
        <id column="id" property="id"/>
        <result column="device_id" property="deviceId"/>
        <result column="app_id" property="appId"/>
        <result column="user_id" property="userId"/>
        <result column="custom_id" property="customId"/>
        <result column="from_ip" property="fromIp"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="total_time" property="totalTime"/>
        <result column="status" property="status"/>
        <result column="user_name" property="userName"/>
        <result column="device_num" property="deviceNum"/>
    </resultMap>

    <resultMap id="ClusterConnectionsVO" type="com.ydw.open.model.vo.ClusterConnectionsVO">
    </resultMap>

    <resultMap id="AppsConnectionsVO" type="com.ydw.open.model.vo.AppsConnectionsVO">
        <result column="app_name" property="appName"/>
        <result column="app_id" property="appId"/>
        <result column="count" property="count"/>
    </resultMap>
    <resultMap id="AppCountVO" type="com.ydw.open.model.vo.AppCountVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="DeviceUsageTrendVO" type="com.ydw.open.model.vo.DeviceUsageTrendVO"></resultMap>
    <resultMap id="NetbarUsedListVO" type="com.ydw.open.model.vo.NetbarUsedListVO"></resultMap>

    <resultMap id="MeteringVO" type="com.ydw.open.model.vo.MeteringVO">
        <result column="app_name" property="appName"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="total_time" property="totalTime"/>
    </resultMap>

    <select id="getUsedById" resultMap="VoResultMap">
        SELECT
        tdu.*,
        tc.`name` AS cluster_name,

        tui.enterprise_name AS enterprise_name,
        tua.NAME AS app_name,
        td.NAME AS device_name
        FROM
        tb_device_used tdu,
        tb_clusters tc,

        tb_user_info tui,
        tb_devices td,
        tb_user_apps tua
        where tdu.id=#{id}

    AND tui.identification = tdu.enterprise_id
	AND tdu.app_id = tua.id
	AND tdu.device_id = td.id

	AND tc.id = td.cluster_id
    and tdu.valid=true
    </select>


    <select id="getClusterConnectionsRealTime" resultMap="ClusterConnectionsVO">
        SELECT
	tc.id AS cluster_id,
	tc.`name` AS cluster_name,
	count( tc.id ) AS count
FROM
	tb_device_used tdu,
	tb_devices td,
	tb_clusters tc,
	cluster_owner co
WHERE
	td.id = tdu.device_id
	AND td.cluster_id = tc.id
	and td.valid= true
	and tc.valid =true
	and tdu.valid= true
	AND co.cluster_id = tc.id
	AND co.valid = 1
	AND ((
			DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) IS NOT TRUE
		))
        <if test="identification!=null">
            and co.owner_id=#{identification}
        </if>
GROUP BY
	tc.id

    </select>


    <select id="getClusterConnectTimeStatistics" resultMap="ClusterConnectionsVO">
        SELECT
        tc.id AS cluster_id,
        tc.`name` AS cluster_name,
        sum( tdu.total_time )/ 60/60 AS count
        FROM
        tb_device_used tdu,
        tb_devices td,
        tb_clusters tc,
        cluster_owner co
        WHERE
        td.id = tdu.device_id
        AND td.cluster_id = tc.id
        and tdu.valid=true
        AND co.cluster_id = tc.id
        AND co.valid = 1
        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        <if test="identification!=null">
            and co.owner_id=#{identification}
        </if>
        GROUP BY
        tc.id

    </select>


    <select id="getDayDeviceUsage" resultMap="DeviceUsageTrendVO">
        SELECT
       #{dayTime} AS dayTime,
        td.cluster_id,
        tc.NAME AS clusteraName,
        sum(
        TIMESTAMPDIFF(
        SECOND,
        IF
        ( tdu.begin_time  <![CDATA[ < ]]>  STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' ), STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' ), tdu.begin_time ),
        IF
        (
        tdu.end_time > DATE_ADD( STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' ), INTERVAL 1 DAY )
        OR tdu.end_time IS NULL,
        DATE_ADD( STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' ), INTERVAL 1 DAY ),
        tdu.end_time
        )
        )
        ) / 60 /(
        tc.device_num * 24 * 60
        ) percentage
        FROM
        tb_clusters tc,
        cluster_owner co,
        tb_device_used tdu
        LEFT JOIN tb_devices td ON tdu.device_id = td.id
        WHERE
        tc.id = td.cluster_id
        AND co.cluster_id = tc.id
        AND co.valid = 1
        <if test="identification!=null">
            and co.owner_id=#{identification}
        </if>
        AND tdu.begin_time  <![CDATA[ <= ]]>  DATE_ADD( STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' ), INTERVAL 1 DAY ) AND tdu.end_time >= STR_TO_DATE(  #{dayTime}, '%Y-%m-%d %H:%i:%s' )
        GROUP BY
        td.cluster_id
    </select>

    <select id="getAppsConnectionsRealTime" resultMap="AppsConnectionsVO">
        SELECT
        tdu.app_id AS app_id,
        tua.`name` AS app_name,
        count( tdu.app_id ) AS count,
        CONCAT(
        CAST(
        CONVERT (
        100 * CAST( count( tdu.app_id ) AS DECIMAL ) / CAST(( SELECT COUNT(*) FROM tb_device_used tdu WHERE tdu.valid = TRUE   AND tdu.enterprise_id=#{identification}
         AND ((
        DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) IS NOT TRUE
        ))
        ) AS DECIMAL ),
        DECIMAL
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        tb_device_used tdu,
        tb_user_apps tua,
        tb_clusters tc,
        tb_devices td
        WHERE
        tua.id = tdu.app_id
        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        and td.status =2
          AND tdu.enterprise_id=#{identification}
        AND ((
        DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) IS NOT TRUE
        ))
        GROUP BY
        tdu.app_id
        ORDER BY count DESC
    </select>


    <select id="getAppsConnectionsRealTimeTopTen" resultMap="AppsConnectionsVO">
        SELECT
        tdu.app_id AS app_id,
        tua.`name` AS app_name,
        count( tdu.app_id ) AS count,
        CONCAT(
        CAST(
        CONVERT (
        100 * CAST( count( tdu.app_id ) AS DECIMAL ) / CAST(( SELECT COUNT(*) FROM tb_device_used tdu WHERE tdu.valid = TRUE   AND tdu.enterprise_id=#{identification}
        AND ((
        DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) IS NOT TRUE
        ))
        ) AS DECIMAL ),
        DECIMAL
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        tb_device_used tdu,
        tb_user_apps tua,
        tb_clusters tc,
        tb_devices td
        WHERE
        tua.id = tdu.app_id
        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        and td.status =2
          AND tdu.enterprise_id=#{identification}
        AND ((
        DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) IS NOT TRUE
        ))
        GROUP BY
        tdu.app_id
        ORDER BY count DESC
    </select>

    <select id="getClusterConnectionsStatistics" resultMap="ClusterConnectionsVO">
        SELECT
        tc.id AS cluster_id,
        tc.`name` AS cluster_name,
        count( tc.id ) AS count
        FROM
        tb_device_used tdu,
        tb_devices td,
        tb_clusters tc,
        cluster_owner co

        WHERE
        td.id = tdu.device_id
        AND co.cluster_id = tc.id
        AND co.valid = 1
        AND td.cluster_id = tc.id
        and tdu.valid=true
        <if test="identification!=null">
            and co.owner_id=#{identification}
        </if>
        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        GROUP BY
        tc.id

    </select>


    <select id="getUsedList" resultMap="VoResultMap">
        SELECT
        tdu.id,
        tdu.enterprise_id,
        tui.enterprise_name AS enterprise_name,
        tdu.device_id,
        td.NAME AS device_name,
        tdu.app_id,
        tua.NAME AS app_name,
        tdu.begin_time,
        tdu.end_time,
        tdu.total_time,
        tdu.custom_id
        FROM
        tb_device_used tdu,
        tb_user_info tui,
        tb_devices td,
        tb_user_apps tua,
        cluster_owner co,
        tb_clusters tc
        WHERE
        tdu.enterprise_id = tui.identification
        AND tdu.device_id = td.id
        AND co.cluster_id = td.cluster_id
        AND co.valid = TRUE
        AND td.cluster_id = tc.id
        AND tdu.app_id = tua.id
        AND tdu.valid = TRUE
        <if test="deviceName!=null">
            and td.name LIKE CONCAT('%', #{deviceName}, '%')
        </if>
        <if test="appName!=null">
            and tua.name LIKE CONCAT('%', #{appName}, '%')
        </if>
        <if test="enterpriseName!=null">
            and tui.enterprise_name  LIKE CONCAT('%', #{enterpriseName}, '%')
        </if>
        <if test="customId!=null">
            and tdu.custom_id = #{customId}
        </if>
        <if test="fromIp!=null">
            and tdu.from_ip= #{fromIp}
        </if>

        <if test="beginTime != null  and  endTime!=null">
            <choose>
                <when test="type==null">
                    and tdu.begin_time &lt; STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) and tdu.begin_time &gt; STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' )
                </when>
                <when test="type==1">
                    and (tdu.begin_time between STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and  STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) )
                </when>
                <when test="type==2">
                    and (tdu.end_time between STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ))
                </when>
            </choose>
        </if>
        <if test="identification!=null">
            and co.owner_id=#{identification}
        </if>

        ORDER BY
        tdu.end_time DESC

    </select>


    <select id="getUsedListByIdentification" resultMap="MeteringVO">
        SELECT
        tdu.begin_time as begin_time,
        tdu.end_time as end_time,
        tdu.total_time as total_time,
        tua.NAME AS app_name

        FROM
        tb_device_used tdu,
        tb_clusters tc,

        tb_user_info tui,
        tb_devices td,
        tb_user_apps tua


        <if test="startTime != null  and  endTime!=null and type==null">
            where(select count(1) from


            (SELECT

            tdu.*
            FROM
            tb_device_used tdu

            WHERE
            ( DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) > date #{endTime} AND DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) >
            date #{endTime}
            )
            UNION

            SELECT

            tdu.*
            FROM
            tb_device_used tdu

            WHERE
            (
            DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime}
            AND DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime}
            ))
            A where A.id = tdu.id) = 0
            AND tui.identification = tdu.enterprise_id
            AND tdu.app_id = tua.id
            AND tdu.device_id = td.id

            AND tc.id = td.cluster_id
            AND tdu.enterprise_id=#{identification}



            <if test="appName!=null">
                and tua.name LIKE CONCAT('%', #{appName}, '%')
            </if>


        </if>


        <if test="startTime != null  and  endTime!=null and type==1">
            where
            tui.identification = tdu.enterprise_id
            AND tdu.app_id = tua.id
            AND tdu.device_id = td.id

            AND tc.id = td.cluster_id
            AND tdu.enterprise_id=#{identification}
            ANd
            DATE_FORMAT(tdu.begin_time,"%y-%m-%d")
            between
            date #{startTime} and date #{endTime}

            <if test="appName!=null">
                and tua.name LIKE CONCAT('%', #{appName}, '%')
            </if>


        </if>
        <if test="startTime != null  and  endTime!=null and type==2">
            where
            tui.identification = tdu.enterprise_id
            AND tdu.app_id = tua.id
            AND tdu.device_id = td.id

            AND tc.id = td.cluster_id
            AND tdu.enterprise_id=#{identification}
            AND

            DATE_FORMAT(tdu.end_time,"%y-%m-%d")
            between
            date #{startTime} and date #{endTime}

            <if test="appName!=null">
                and tua.name LIKE CONCAT('%', #{appName}, '%')
            </if>

        </if>

        <if test="startTime == null  and  endTime==null  and type ==null">
            <where>
                tui.identification = tdu.enterprise_id
                AND tdu.app_id = tua.id
                AND tdu.device_id = td.id

                AND tc.id = td.cluster_id
                AND tdu.enterprise_id=#{identification}


                <if test="appName!=null">
                    and tua.name LIKE CONCAT('%', #{appName}, '%')
                </if>

            </where>
        </if>
        ORDER BY tdu.end_time DESC
    </select>


        <select id="getAppsConnectTimeStatistics" resultMap="AppsConnectionsVO">
            SELECT
            tdu.app_id AS app_id,
            tua.`name` AS app_name,
            sum( tdu.total_time ) /60/60  AS count,
            CONCAT(
            CAST(
            CONVERT (
            100 * CAST( sum( tdu.total_time ) AS DECIMAL ) / CAST(( SELECT sum( tdu.total_time ) FROM tb_device_used tdu WHERE tdu.valid = TRUE
            AND tdu.enterprise_id=#{identification} ) AS DECIMAL ),
            DECIMAL
            ) AS CHAR
            ),
            '%'
            ) AS percentage
            FROM
            tb_device_used tdu,
            tb_user_apps tua,
            tb_clusters tc,
            tb_devices td
            WHERE
            tua.id = tdu.app_id
            AND tdu.device_id = td.id
            AND td.cluster_id = tc.id
            AND tdu.enterprise_id=#{identification}
            --         AND tdu.end_time IS  TRUE


            <if test="startTime != null  and  endTime!=null ">
                AND ((DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
                (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
                (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
                )
            </if>
            GROUP BY
            tdu.app_id


            ORDER BY count desc
        </select>

    <select id="getAppsConnectTimeStatisticsTopTen" resultMap="AppsConnectionsVO">
        SELECT
        tdu.app_id AS app_id,
        tua.`name` AS app_name,
        sum( tdu.total_time ) /60/60  AS count,
        CONCAT(
        CAST(
        CONVERT (
        100 * CAST( sum( tdu.total_time ) AS DECIMAL ) / CAST(( SELECT sum( tdu.total_time ) FROM tb_device_used tdu WHERE tdu.valid = TRUE
        AND tdu.enterprise_id=#{identification} ) AS DECIMAL ),
        DECIMAL
        ) AS CHAR
        ),
        '%'
        ) AS percentage
        FROM
        tb_device_used tdu,
        tb_user_apps tua,
        tb_clusters tc,
        tb_devices td
        WHERE
        tua.id = tdu.app_id
        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        AND tdu.enterprise_id=#{identification}
        --         AND tdu.end_time IS  TRUE


        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        GROUP BY
        tdu.app_id
    </select>



    <select id="getAppsConnectionsStatistics" resultMap="AppsConnectionsVO">
        SELECT
        tdu.app_id AS app_id,
        tua.`name` AS app_name,
        count( tdu.app_id ) AS count,
        (
        count( tdu.app_id ) /(
        SELECT
        COUNT(*)
        FROM
        tb_device_used tdu
        WHERE
        tdu.valid = TRUE
        )
        ) AS percentage
        FROM
        tb_device_used tdu,
        tb_user_apps tua,
        tb_clusters tc,
        tb_devices td
        WHERE
        tua.id = tdu.app_id
        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        and tdu.valid=true
        AND tua.identification = #{identification}

        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        GROUP BY
        tdu.app_id
        ORDER BY  count DESC

    </select>


    <select id="getAppsConnectionsStatisticsTopTen" resultMap="AppsConnectionsVO">
        SELECT
        tdu.app_id AS app_id,
        tua.`name` AS app_name,
        count( tdu.app_id ) AS count,
        ( count( tdu.app_id )/(
        SELECT
        COUNT(*)
        FROM
        tb_device_used tdu
        WHERE
        tdu.valid = TRUE
        AND tdu.enterprise_id =#{identification}
        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        )
        ) AS percentage
        FROM
        tb_device_used tdu,
        tb_user_apps tua,
        tb_clusters tc,
        tb_devices td
        WHERE
        tua.id = tdu.app_id
        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        AND tdu.enterprise_id=#{identification}

        <if test="startTime != null  and  endTime!=null ">
            AND (	(DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) BETWEEN date #{startTime} AND date #{endTime}) OR
            (DATE_FORMAT( tdu.end_time, "%y-%m-%d" ) BETWEEN date#{startTime} AND date #{endTime} )  OR
            (DATE_FORMAT( tdu.begin_time, "%y-%m-%d" ) <![CDATA[ < ]]> date #{startTime} ) AND ( DATE_FORMAT( tdu.end_time, "%y-%m-%d" )> date #{endTime})
            )
        </if>
        GROUP BY
        tdu.app_id
    </select>


    <select id="getApps" resultMap="AppCountVO">
        SELECT tua.id,tua.`name`FROM tb_user_apps  tua where tua.valid=true and identification=#{identification};
    </select>


    <select id="getAppById" resultMap="AppCountVO">
        SELECT tua.id,tua.`name`FROM tb_user_apps  tua where tua.valid=true and tua.id=#{appId}
    </select>

    <select id="getDayCount" resultType="Integer">
        SELECT count(*)
        FROM tb_user_apps  tua ,tb_device_used tdu where tdu.app_id=tua.id and tdu.valid=true
        and tua.id=#{appId}

       and  tdu.end_time >=#{time1}and  tdu.begin_time <![CDATA[ < ]]>  #{time2}
    </select>
    <resultMap id="TrendVO" type="com.ydw.open.model.vo.TrendVO">

    </resultMap>
	<select id="getAppsConnectionCount" resultMap="TrendVO">
		<foreach collection="days" separator="union" item="item">
			select #{item} day, t.app_id appId,count(t.app_id) useCount
				FROM
			tb_device_used t
				WHERE
             t.valid=true
            and
          	t.enterprise_id = #{identification}
			<if test="appIds != null and appIds.size() > 0">
			AND t.app_id IN 
				<foreach collection="appIds" open="(" close=")" separator="," item="subItem">
					#{subItem}
				</foreach>
			</if>

            AND t.end_time &gt;= STR_TO_DATE(
            #{item},'%Y-%m-%d %H:%i:%s')
            AND
            t.begin_time &lt; DATE_ADD(
            STR_TO_DATE(#{item},'%Y-%m-%d %H:%i:%s' ),
            INTERVAL 1 DAY

            )
			GROUP BY
				t.app_id
		</foreach>
	</select>
	
    <select id="getUsedListNetbar" resultMap="NetbarUsedListVO">
        SELECT
        tdu.id,
        tdu.enterprise_id,
        tdu.device_id,
        td.NAME AS device_name,
        tdu.begin_time,
        tdu.end_time,
        tdu.total_time
        FROM
        tb_device_used tdu,
        tb_devices td,
        tb_clusters tc,

        cluster_owner co
        WHERE
        co.cluster_id = tc.id

        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        AND td.valid = TRUE

        AND co.valid =1


        <if test="beginTime != null  and  endTime!=null">
            <choose>
                <when test="type==null">
                    and tdu.begin_time &lt; STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) and tdu.begin_time &gt; STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' )
                </when>
                <when test="type==1">
                    and (tdu.begin_time between STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and  STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) )
                </when>
                <when test="type==2">
                    and (tdu.end_time  between  STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ))
                </when>
            </choose>
        </if>
        <if test="identification!=null">
            AND co.owner_id = #{identification}
        </if>
        ORDER BY
	tdu.end_time DESC
    </select>

    <select id="getTotalTime" resultType="String">

        SELECT
        sum(tdu.total_time)
        FROM
        tb_device_used tdu,
        tb_devices td,
        tb_clusters tc,

        cluster_owner co
        WHERE
        co.cluster_id = tc.id

        AND tdu.device_id = td.id
        AND td.cluster_id = tc.id
        AND td.valid = TRUE

        AND co.valid =1

        <if test="beginTime != null  and  endTime!=null">
        <choose>
            <when test="type==null">
                and tdu.begin_time &lt; STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) and tdu.begin_time &gt; STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' )
            </when>
            <when test="type==1">
                and (tdu.begin_time between STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and  STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ) )
            </when>
            <when test="type==2">
                and (tdu.end_time between STR_TO_DATE(#{beginTime}, '%Y-%m-%d %H:%i:%s' ) and STR_TO_DATE(#{endTime}, '%Y-%m-%d %H:%i:%s' ))
            </when>
        </choose>
    </if>
        <if test="identification!=null">
            AND co.owner_id = #{identification}
        </if>

    </select>
</mapper>
