<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.schedule.dao.TbClustersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.schedule.model.db.TbClusters">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="is_local" property="isLocal" />
        <result column="description" property="description" />
        <result column="api_url" property="apiUrl" />
        <result column="access_ip" property="accessIp" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sch_status" property="schStatus" />
        <result column="device_num" property="deviceNum" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
