<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.authentication.dao.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.authentication.model.db.UserInfo">
        <id column="id" property="id" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="identification" property="identification" />
        <result column="secretKey" property="secretKey" />
        <result column="type" property="type" />
        <result column="email" property="email" />
        <result column="mobile_number" property="mobileNumber" />
        <result column="tel_number" property="telNumber" />
        <result column="description" property="description" />
        <result column="amount" property="amount" />
        <result column="pay_amount" property="payAmount" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="sch_status" property="schStatus" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
