<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.resource.dao.AppPicturesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.resource.model.db.AppPictures">
        <id column="id" property="id" />
        <result column="big_pic" property="bigPic" />
        <result column="mid_pic" property="midPic" />
        <result column="small_pic" property="smallPic" />
        <result column="app_id" property="appId" />
        <result column="logo_pic" property="logoPic" />
        <result column="valid" property="valid" />
    </resultMap>

</mapper>
