<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.platform.dao.SignAwardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.platform.model.db.SignAward">
        <id column="id" property="id" />
        <result column="pc_award" property="pcAward" />
        <result column="phone_award" property="phoneAward" />
        <result column="continue_days" property="continueDays" />
        <result column="phone_minute" property="phoneMinute" />
        <result column="pc_minute" property="pcMinute" />
    </resultMap>

</mapper>
