<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.platform.dao.UserLimitedMissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.platform.model.db.UserLimitedMission">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="mission_id" property="missionId" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
